*.pyc
/*.dist-info/
/*.egg-info/
/*.pstat
/.*_cache/
/.coverage*
/.default.nix
/.dmypy*.json
/.pre-commit-config.yaml
/.pyinstrument.html
/.result*
/.site/
/.test-results/
/YAKSHAVE
/flamegraph.svg
/result*
__pycache__/
